h1{
    font-size: 54px;
    font-weight: 700;

}
h2{
    font-size: 35px;
    font-weight: 700;
    color: orange
}
h4{
    font-size: 20spx;
    font-weight: 700;
}
P{
    font-size: 14px;
}
.name-color{
    color: orange;
}
body{
    margin:0px;
}

.half-width{
    width: 39%;
    float: left;
    margin: 2%;
    padding: 2%;
}
.half-width img{
    width:100%;
}
section{
    height: 500px;
    padding-bottom: 100px;

}
#background-color{
    background-image: linear-gradient(lightblue, lightsalmon);
}

.link-button{
    padding: 15px 25px;
    text-decoration: none;
    background-image: linear-gradient(orange, lightsalmon);
    border-radius: 5px;
    color:white;
    font-weight: 700;
}
#mid-level-color{
    background-image: linear-gradient(rgb(223, 201, 156), rgb(255, 122, 244));
}
.single-experiance{
    box-shadow: 10px 10px 40px grey;
    box-shadow: 7px;
    border-radius: 5px;
    height: 62%;
    background-color:white;
}

.Experiance-area{
    background-image:url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}

#full-stack{
    border-left: 7px solid;
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgb(120, 231, 233)green);
    border-image-slice: 1;
}

#beginner-web{
    border-left: 7px solid;
    border-radius: 20px;
    background-image:linear-gradient(180deg red lightgreen);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color:dimgrey;
}